.header
  .header__title
    = link_to "OK Voice", :root, class: "header__title" 
  -if user_signed_in?
    .header__word
      = link_to "ワード登録", :new_home, class:"header__word"
      = link_to "登録済みワード", :word_register_home_index, class:"header__word"
  -if user_signed_in? 
    .header__user-name
      = "#{@user.name}　さん"
    .header__logout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header__logout"
  -unless user_signed_in?
    .header__login
      = link_to "新規登録", new_registration_path(resource_name), class:"header__logout"
      = link_to "ログイン", new_session_path(resource_name), class:"header__logout"
